body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
}

header {
  background-image: url(images/347ac362f50f66482f31f12ca05e1cb0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  height: 400px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.card {
  width: 18rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.gradient {
  height: 5px;
  background: linear-gradient(to right, red , yellow); /* For browsers that do not support gradients */
}

.designs {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
}

.made {
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
}

.green {
  border: 7px solid rgb(2, 129, 70);
}

.edge {
  border-radius: 97px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .flex-container {
    flex-direction: row;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  .g-checkout {
    grid-template-columns: auto auto;
  }

  .gridx {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1024px) {
  .g-checkout {
    grid-template-columns: auto auto auto;
  }

  .flex-container {
    flex-direction: row;
  }

  .grid-container {
    grid-template-columns: auto auto auto auto;
  }

  .gridx {
    grid-template-columns: auto auto;
  }
}
